/* Основные стили */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header, footer {
    background-color: #DEB887;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
}

.gallery {
    display: flex;          
    flex-wrap: wrap;      
    justify-content: space-around;  
    align-items: center;
}

.gallery img {
    width: 30%;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    object-fit: cover; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.5em 0;
    }

    .gallery img {
        width: 90%; 
    }
}

hr {
  border: none;
  border-top: 3px solid BurlyWood; 
}